* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
  background-color: gray;
  padding: 1rem;
  height: 100vh;
}

nav,
header,
main,
aside {
  margin: 0.4rem;
}

nav {
  border: 1px solid black;
  border-radius: 4px;
}
header {
  background-color: lightsteelblue;
  padding: 1rem;
  border-radius: 4px;
}

main {
}

aside {
}
