* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
  background-color: gray;
  padding: 1rem;
}

nav {
  border: 1px solid black;
  border-radius: 4px;
}
header {
  background-color: lightsteelblue;
}

main {
}

aside {
}
