$bg: rgba(0, 0, 0, 0.765);

.banner {
  height: 400px;
  background-color: $bg;
}

.row {
  background-color: $bg;
  padding: 1rem;
  > div {
    display: flex;
    justify-content: space-evenly;
    overflow-x: auto;
  }
}

.card {
  width: 200px;
  cursor: pointer;
  transition: transform 0.5s;
  margin: 0.3rem;
  &:hover {
    transform: translateY(-10px) scale(1);
  }
}
