html {
  font-size: 3rem;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.box {
  font-size: 2rem;
}

.content {
  font-size: 1rem;
}

.content > p {
  font-size: 1rem;
}

/*  compounding is not exists , but there is a relation of root element and html page */
