#cards {
  display: flex;
  flex-wrap: wrap;
  gap: 1em;
  justify-content: center;
  background-color: black;
}

#cards > article {
  /* flex: none; */
  width: 20em;
  color: white;
  padding: 2rem;
}

article:nth-child(1) {
  background-color: red;
}
article:nth-child(2) {
  background-color: rgb(34, 255, 0);
}
article:nth-child(3) {
  background-color: rgb(255, 0, 102);
}
