#file-manager {
  display: flex;
  flex-wrap: wrap;
  gap: 0.3rem;
}

.folder-tree {
  flex: 1;
}

div:nth-child(1) {
  background-color: red;
}

div:nth-child(2) {
  background-color: rgb(0, 26, 255);
}
div:nth-child(3) {
  background-color: rgb(0, 255, 26);
}
