* {
  border: 1px solid #000;
}

#file-manager,
panes {
  display: flex;
  height: 100vh;
  flex-wrap: wrap;
  gap: 0.3em;
}

#folder-trees {
  flex: 1;
  min-width: min(100%, 10em);
}

.panes {
  flex: 4;
  min-width: min(100%, 40em);
}

.panes > div {
  flex: 1;
  min-width: min(100%, 20em);
}
