@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  // color: white;
}
a,
h2 {
  color: white;
}

$bg: rgba(0, 0, 0, 0.765);
.header {
  background-color: $bg;
  height: 50px;
  display: flex;
  align-items: center;
  box-sizing: border-box;
  padding: 0.4rem;
  justify-content: space-between;
  > img {
    height: 100%;
    border-radius: 100%;
  }
  > div {
    width: 100%;
    margin-left: 8vmax;
    > a {
      margin: 1vmax;
    }
  }

  svg {
    color: white;
    font-size: 2rem;
    cursor: pointer;
    margin-right: 1vmax;
    &:hover {
      color: gray;
    }
  }
}

a {
  color: white;
  text-decoration: none;
}

.genreBox {
  overflow-x: auto;
  display: flex;
  height: 100px;
  align-items: center;
  background-color: $bg;
  transition: all 0.5s;
  > a {
    color: black;
    background-color: #fff;
    padding: 1rem;
    margin: 1rem;
    border-radius: 5px;
    min-width: 10rem;
    text-align: center;
    &:hover {
      background-color: #ffffff9c;
    }
  }
}
