.flex-container {
  background-color: blue;
  display: flex;
  flex-wrap: nowrap;
}

.flex-container > div {
  background-color: #fff;
  margin: 10px;
  width: 100px;
  text-align: center;
  line-height: 75px;
}
