@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}
header {
  position: sticky;
  top: 0;
  text-align: center;
  background: rgb(23, 57, 228);
  background: radial-gradient(
    circle,
    rgba(23, 57, 228, 1) 0%,
    rgba(252, 70, 107, 1) 100%
  );
  color: white;
  text-transform: uppercase;
  padding: 1rem 2rem;
}

.container {
  background-color: cornsilk;
  width: 70%;
  min-height: 100vh;
  margin: auto;
  padding: 4vh 8vh;
}

.container > form {
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
}

input,
textarea,
button {
  padding: 1rem;
  border: 1px solid rgba(0, 0, 0, 0.251);
  border-radius: 0.4rem;
  outline: none;
}

button {
  background-color: black;
  color: white;
  text-transform: uppercase;
  cursor: pointer;
}

button:hover {
  background-color: rgba(27, 25, 25, 0.817);
}

.task {
  display: flex;
  background-color: white;
  margin: 1rem 0rem;
  padding: 1rem;
  border-radius: 4px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.task > div {
  width: 100%;
}
.task > div p {
  text-transform: capitalize;
}

.task > div span {
  color: gray;
}
.task button {
  border-radius: 100%;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: red;
}

.task button:hover {
  background-color: rgba(255, 0, 0, 0.692);
}
