body {
  background-color: lightgray;
}

#players.highlight-player li.active {
  border-color: orange;
}

#players.highlight-player li.active .player-name,
#players.highlight-player li.active .player-symbol {
  color: orange;
}
