.grid-container {
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background-color: #000;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.grid-item {
    height: 748px;
    width: 748px;
}
